/*CSS Jakke*/
.box {
    background-color: #150906;
    text-align: right;
}

p {
    color: #fcf425;
}

body{
    background-color: #da1202;
}

.boxCurso p {
    text-align: center;
    font-size: 90px;
    font-family: fantasy;
}

.boxCon{
    text-align: center;
    font-size: 50px;
}
.boxCon p{
    color: black;
}
.listaOrdenada li{
    color: aliceblue;
}

.codigoTexto{
    text-align: center;
}
.codigoTexto p{
    text-align: center;
    color: aliceblue;
    border: solid black;
    background-color: #150906;
    border-radius: 20px;
    margin: 0%;
    margin-right: 30%;
    margin-left: 30%;
}
.col-4{

}
.col-8{
    text-align: right;
}
.pFooter{
    color: aliceblue;
    font-size: 200%;
}



























/*-----------------------------------------------------------------------------------------------------------*/
/*CSS Jordy*/
.contenedor {

    display: flex;
    justify-content: center;

}

.columna{
    

background-color: rgba(0, 119, 255, 0.377);
padding: 10px;

}

.img-center{
text-align: center;

}

.cont {
    justify-content: center;
    margin-top: 100px;
    display: flex;
    background-color: blue;
    padding: 25px;
}

.text{
color: yellow;

    padding-left: 2px;

}

.h1{

    text-align: center;
}
.p1index4{

    text-align: center;
    color: blue;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 45px;

}

.body1{

    background-color: white;
}

.p2index4{

color: black;

}