/*CSS Jakke*/
.box {
    background-color: #150906;
    text-align: right;
}

p {
    color: #fcf425;
}

body{
    background-color: #da1202;
}

.boxCurso p {
    text-align: center;
    font-size: 90px;
    font-family: fantasy;
}

.boxCon{
    text-align: center;
    font-size: 50px;
}
.boxCon p{
    color: black;
}
.listaOrdenada li{
    color: aliceblue;
}

.codigoTexto{
    text-align: center;
}
.codigoTexto p{
    text-align: center;
    color: aliceblue;
    border: solid black;
    background-color: #150906;
    border-radius: 20px;
    margin: 0%;
    margin-right: 30%;
    margin-left: 30%;
}
.col-4{

}
.col-8{
    text-align: right;
}
.pFooter{
    color: aliceblue;
    font-size: 200%;
}
.logoHtml{
    width: 100%;
}
.logoPhp{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}
.linea{
    background-color: black;
    text-align: center;
}
 .pLinea{
    color: white;
    font-size: 150%;
}

.pCurriculum{
    color: black;
}

.LineaVertical{
    border-left: 1px solid black;
    text-align: center;
}

.containerLinea{
    border-bottom: 1px solid black;
}
.bordeFoto{
    text-align: center;
    width: 60px;
    border: 1px solid black;
    margin: 30px;
    margin-left: 55px;
}
.body2{
    background-color: #4972c4;
}

.btn{
    border-radius: 30px;
    margin: 30px;
    color: black;
}

.h1Somos{
    color: white;
    text-align: center;
}

.pBlanco{
    color: white;
}
.imgQuienesSomos{
    width: 50%;
}

.centrar{
    text-align: center;
}





















/*-----------------------------------------------------------------------------------------------------------*/
/*CSS Jordy*/
.contenedor {

    display: flex;
    justify-content: center;
    background-color: white;

}

.columna{
    

background-color: rgba(0, 119, 255, 0.377);
padding: 10px;

}

.img-center{
text-align: center;

}

.cont {
    justify-content: center;
    margin-top: 100px;
    display: flex;
    background-color: blue;
    padding: 25px;
}

.text{
color: yellow;

    padding-left: 2px;

}

.h1{

    text-align: center;
}
.p1index4{

    text-align: center;
    color: blue;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 45px;

}

.body1{

    background-color: white;
}

.p2index4{

color: black;

}